body {
    font-family: "Arial", sans-serif;
}
.game,.details {
    height: 100vh;
    width: 100%;
}
.details{
    background-image: url("../img/new-background.jpeg")
}

.game{
    background-color: ;
}
section {
    text-align: center;
    align: center
}

.game--title {
    font-size: 100px;
    color: #d7a62f;
    margin: 10px auto;
    text-align: center;
    background-image: url("../img/imagebackground.png")
}

.game--container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    width: 430px;
    background-color: black;
    color: #04c0b2;
}

.box {
    margin-top: 60px;
    margin-left: 60px;
    align:center;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 80px;
    height: 80px;
    box-shadow: 2px 2px 2px 2px red;
    border: 2px solid #ecd7ba;
    cursor: pointer;
    line-height: 50px;
    font-size: 20px;
}

.game--status {
    font-size: 30px;
    color: #d7a62f;
    margin: 20px auto;
    margin-top: 60px;
}

.game--restart {
    float: center;
    background-color: #f7e4ac;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #5586e2;
    box-shadow: 2px 2px 2px 2px #d86c23;
    border: 2px solid #d86c23;
}

.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}

.detailsbox {
    background-color : #C0C0C0;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
    align:center

}

.game--start {
    float: center;
    background-color: #f7e4ac;
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #5586e2;
    box-shadow: 2px 2px 2px 2px #d86c23;
    border: 2px solid #d86c23;
    margin-left: 80px;
    margin-top: 20px;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

label {
color: Black;
font-weight: bold;


}